@import url('https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap');

* {
  box-sizing: border-box;   
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 50px 0 0;
  line-height: 1.5;
}

iframe {
  max-width: 90%;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

section h2 {
  text-align: center;
  margin-top: 40px;
}

.bg-blue {
  background-color: #24225b;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

/* Nav & Header */
nav {
  background-color: #24225b;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.header-left {
  padding-right: 20px; 
  width: 60%;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

#header-img {
  max-width: 100%;
  height: auto;
}

/* Features Section */
.feature {
  background: #24225b;
  color:white;
  border-radius: 10px;
  margin: 0 1.66%;
  padding: 10px;
  width: 30%;
  text-align: center;
}

.feature i {
  font-size: 30px;
  margin-top: 15px;
}

.feature h2 {
  font-size: 18px;
  margin-top: 5px;
}

.feature p {
  font-size: 12px;
  line-height: 24px;
}

/* Form section */
form {
  margin-bottom: 40px;
}

form .flex{
  display: flex;
  flex-wrap: wrap;
}

form input[type="email"] {
  border-radius: 5px;
  border: 0;
  color: black;
  display: inline-block;
  font-size: 14px;
  flex: 1;
  padding: 10px 25px;
  margin-right: 10px;
}

/* Footer Styling */
footer {
  background-color: white;
  color: #24225b;
  padding: 10px;
  text-align: center;
}


@media (max-width: 480px) {
  .header-left, .header-right {
    width: 100%;
  }
  
  .header-right {
    order: 0;
  }
  
  .header-left {
    order: 1;
    padding-left: 20px;
    text-align: center;
  }
  
  .header-left h1 {
    display: none;
  }
  
  
  
  .feature {
    margin: 10px;
    width: 100%;
  }
  
  .flex input {
    margin: 5px 10px;
    width: 100%;
  }
}